streamlit
langchain-core
langchain-text-splitters
langchain>=0.2.0
langchain-community>=0.2.0
langchain-groq
langchain-huggingface
faiss-cpu
sentence-transformers
python-magic; sys_platform == 'linux'
unstructured
