streamlit==1.54.0
langchain==0.2.16
langchain-community==0.2.16
langchain-groq==0.1.10
langchain-huggingface==1.2.1
faiss-cpu==1.13.2
sentence-transformers==5.3.0
unstructured==0.18.32
python-magic-bin; sys_platform == 'darwin' or sys_platform == 'win32'
python-magic; sys_platform == 'linux'
