streamlit
langchain>=0.2.0
langchain-community>=0.2.0
langchain-groq
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers
torch
torchvision
python-magic; sys_platform == 'linux'
unstructured
